.listagem{
    min-height: calc(100vh - (75px + 252px + 40));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.listagem h1{
    text-transform: uppercase;
}

.listagem hr{
    max-width: 300px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #730618;
    margin-top: 5px;
}

.item_lista img{
    width: 28px;
}

.tabela table{
    width: 100%;
    margin-top: 30px;
}


.tabela .cabecalho :first-child{
    width: 300px;
}

.tabela .cabecalho :nth-child(2){
    width: 300px;
}

.tabela .cabecalho th{
    width: 100px;
}

.item_lista td{
    padding: 20px 0 Spx 0;
}

